nav{
    background-color: black;
    width: 100%;
    padding: 12px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-left: 24px;
}
table{
    margin-right: auto;
    width: 800px;
    margin-left: 400px;
    margin-top: 24px;
}
table, td,th{
    border: 1px solid white;
    background-color: white;
    padding:10px;
    border-collapse: collapse;
}
tr{
    border-bottom: 1.5px solid #ddd;
}
caption{
    background-color:rgba(56, 168, 56, 0.959);
    width: 800px;
    text-align: left;
    color: white;
    font-size: 24px;
    padding: 20px;
    height: 15px;
}
th{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
body{
    margin: 0px;
    background-image: url(../image/andrea-caramello.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
progress{
    width: 200px;
    height: 24px;
}
td{
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}